/* styles */
/* called by your view template */
      body {
        background-color: #ffd0ed;
        background-image: url('https://image.ibb.co/cVzobo/aoba_drink_transparent.png');
        background-position: right bottom;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: arial;
      }
      #content {
        width: 75%;
        margin: auto;
        margin-top: 2%;
        padding: 2%;
        font-size: 15pt;
        line-height: 1.5;
        background: rgba(255, 255, 255, 0.8);
        color: #6b3a5b;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow: 0px 0px 5px #6b3a5b;
      }
      #header h1 {
        width: 75%;
        margin: auto;
        margin-top: 3%;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        font-size: 30pt;
        text-align: center;
        color: #4a0045;
        text-shadow: 0px 0px 15px #fffcfd;
        z-index: 999;
      }
      h2 {
        width: 100%;
        margin-top: 5%;
        border-bottom: 1px solid #cfa3bc;
        text-align: center;
        color: #4a0045;
        font-size: 25pt;
      }
      h3 {
        text-align: center;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
      }
      table tr {
        border-bottom: 1px solid #cfa3bc;
      }
      table tr th {
        text-align: left;
        padding: 1% 0%;
        border-bottom: 1px solid #cfa3bc;
      }
      table tr td {
        padding: 1% 0%;
        border-bottom: 1px solid #cfa3bc;
      }
      #content a:link, #content a:visited {
        text-decoration: none;
        padding: 1%;
        color: #fff;
        background: #f59dc1;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        transition: background 0.5s;
      }
      #content a:active, #content a:hover {
        text-decoration: none;
        padding: 1%;
        color: #f59dc1;
        background: #fff;
      }

      code {
        font-family: courier;
        font-size: 90%;
        background: #ffd6e9;
        padding: 2px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
      }